body {
  opacity: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
}

body.ready {
  opacity: 1;
  transition: opacity 0.2s ease;
}

#main-container {
  width: min(90vw, 600px);
  display: flex;
  flex-direction: column;
}

#main-container *{
  margin-right: 0;
  flex: 1;
}

.row-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

button {
  text-transform: uppercase;
}

#enter-caption {
  resize: none;
  text-transform: none;
}

.icon-button {
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 60px;
}

.icon-button.active {
  background-color: #526980;
}

.icon-align{
  min-width: 22px;
  min-height: 22px;
}

#font-size-input {
  margin-top: 0;
}

#canvas {
  width: 100%;
}
